{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "amd": true,
    "node": true
  },
  "rules": {
    "no-control-regex": "off",
    "no-empty": "off",
    "no-self-assign": "off",
    "no-unexpected-multiline": "off",
    "no-useless-escape": "off"
  }
}
